.outercontainercase{
    min-height: 90vh;
    background: #302F3D;
    overflow: hidden;
    display: grid;
    grid-template-areas: 
    "slotmachine"
    "casetop"
    "casebottom";
    justify-content: center;
}

.casedetails{
    color:  rgba(255,255,255,.7);
}

.casetop {
    grid-area: casetop;
    justify-self: center;
}

.casebottom{
    width: 100vw;
    margin-top: 40px;
    margin-bottom: 40px;
    grid-area: casebottom;
    justify-self: center;
}

.caseimage{
    display: grid;
    justify-content: center;
}

.caseimage img {
    width: 60%;
    height: auto;
    justify-self: center;
}

.casename{
    display: grid;
    justify-content: center;
}

.casename h1{
    font-size: 28px;
}
.casecontentscontainer{

}

.casecontentscontainer h1 {
    font-size: 24px;
}

.contentlist {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 350px);
}

.contentimage img {
    width: 200px;
    height: 150px;
}

.contentitem{
    background: #111019;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}


.scroll {
    padding-right: 50px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100% !important;
    margin-left: 50px;
    align-items: center;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    /* Firefox scrollbar verbergen*/
    overflow-x: hidden;
    overflow-y: hidden;
}




@media screen and (max-width: 778px) {
    .contentitem{
        
        
    }
}