
.innerlogincontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 8ch;
    margin-top: 50px;
}

.innerlogincontainer input {
    color: #fff !important;
}

.innerloginitem{
    text-align: center;
    margin: 5px !important;
}

.userinput {
    margin-bottom: 10px;
}

.noinput{
    margin-bottom: 15px;
}

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}